<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products - Alura Barber</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <div class="body">
        <!-- Header -->
        <header class="header header-products">
            <div class="header__logo">
                <img src="../assets/img/logo.png" alt="Logo">
            </div>
            <nav class="navbar">
                <ul class="navbar__list">
                    <li class="navbar__items"><a href="../index.html">Home</a></li>
                    <li class="navbar__items"><a href="./products.html">Productos</a></li>
                    <li class="navbar__items"><a href="./contact.html">Contacto</a></li>
                </ul>
            </nav>
        </header>

        <!-- Main -->
        <main class="main main--products">
            <section class="card">
                <div class="card__title">
                    <h2>Cabello</h2>
                </div>
                <div class="card__img">
                    <img src="../assets/img/cabello.jpg" alt="Cabello">
                </div>
                <div class="card__text">
                    <p>
                        Con tijera o maquina, a gusto del cliente
                    </p>
                    <p>$ 10.00</p>
                </div>
            </section>
            <section class="card">
                <div class="card__title">
                    <h2>Barba</h2>
                </div>
                <div class="card__img">
                    <img src="../assets/img/barba.jpg" alt="Barba">
                </div>
                <div class="card__text">
                    <p>
                        Corte y diseño profesional de barba
                    </p>
                    <p>$ 8.00</p>
                </div>
            </section>
            <section class="card">
                <div class="card__title">
                    <h2>Cabello + Barba</h2>
                </div>
                <div class="card__img">
                    <img src="../assets/img/cabello+barba.jpg" alt="Cabello + Barba">
                </div>
                <div class="card__text">
                    <p>
                        Paquete completo de cabello y barba
                    </p>
                    <p>$ 15.00</p>
                </div>
            </section>
        </main>

        <!-- Footer -->
        <footer class="footer">
            <div class="footer__logo">
                <img src="../assets/img/logo-blanco.png" alt="Logo-blanco">
            </div>
            <div  class="footer__text">
                <p>&copy; Copyright Barberia Alura - 2022</p>
            </div>
        </footer>
    </div>
</body>
</html>